#header {
    padding: 5em 5em 1em 5em ;
    text-align: center;
}

#header h1 {
    margin: 0 0 0.25em 0;
}

#header p {
    font-size: 1.25em;
    letter-spacing: -0.025em;
}

#header.alt {
    padding: 7em 5em 4em 5em ;
}

#header.alt h1 {
    font-size: 3.25em;
}

#header.alt > * {
    -moz-transition: opacity 3s ease;
    -webkit-transition: opacity 3s ease;
    -ms-transition: opacity 3s ease;
    transition: opacity 3s ease;
    -moz-transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

#header.alt .logo {
    -moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
    -webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
    -ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
    transition: opacity 1.25s ease, transform 0.5s ease;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    display: block;
    margin: 0 0 1.5em 0;
}

#header.alt .logo img {
    display: block;
    margin: 0 auto;
    max-width: 75%;
}

#nav {
    padding: 0.75em;
    cursor: default;
    text-align: center;
    -webkit-backdrop-filter: blur(8px) !important;
    backdrop-filter: blur(8px) !important;
    z-index: 99;
    width: 100%;
    background-color: hsla(0, 0%, 95.3%, 0.75);
}

#nav input, #nav select, #nav textarea {
    color: #636363;
}

#nav a:hover {
    color: #636363;
}

#nav strong, #nav b {
    color: #636363;
}

#nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
    color: #636363;
}

#nav hr {
    border-bottom-color: #dddddd;
}

#nav + main {
    padding-top: 4.25em;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0 0;
    padding: 0;
    vertical-align: middle;
    color: #636363;
}

#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a:hover {
    background-color: rgba(222, 222, 222, 0.25);
}

#nav ul li a.active {
    background-color: #ffffff;
    box-shadow: none;
}

#nav.alt {
    position: fixed;
    top: 0;
    padding: 0.5em 1em;
    background-color: rgba(247, 247, 247, 0.95);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
}

#nav.alt ul li {
    margin: 0 0.175em;
}

#nav.alt ul li a {
    font-size: 0.9em;
}

